<div>
  <h1>Resetar senha</h1>

  <strong>Olá {{username}}, você solicitou a troca de senha?</strong>
  <p>Clique no link abaixo:</p>

  <span>{{link}}</span>

  <p>Caso não tenha sido você, desconsidere este email e entre em contato...</p>

  <strong>Atenciosamente, Equire MemoRise</strong>

</div>